<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>List Student</title>
</head>
<body>
<div class="container">
    <h3>List of Students</h3>
    <hr>

    <table class="table table-hover">
        <thead>
        <tr><a class="btn btn-primary" href="/add" role="button">Add Student</a></tr>
        <tr><br></tr>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Course</th>
                <th scope="col">Age</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="student:${students}">
            <th scope="row" th:text="${student.id}"></th>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.course}"></td>
            <td th:text="${student.age}"></td>
            <td>
                <a class="btn btn-outline-danger me-md-2" th:href="@{/delete/{id}(id=${student.id})}" role="button">Delete</a>
<!--            </td>-->
<!--            <td>-->
                <a class="btn btn-outline-primary me-md-2" th:href="@{/update/{id}(id=${student.id})}" role="button">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>